* {
  margin: 0;
}
.navbar-link li {
  list-style: none;
  margin: auto;
  font-size: 30px;
}
.navbar-link {
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-top: -60px;
}
.navbar-link li a {
  text-decoration: none;
}
@media screen and (max-width: 500px) {
  .navbar-link li {
    font-size: 18px;
  }
  .navbar-link {
    display: flex;
    flex-direction: column;
    margin-left: 24%;
    margin-top: -142px;
    width: 114%;
  }
  .navbar-link li a {
    text-decoration: none;
  }
}
